.createCompany {
    width: 100%;
    margin-top: 150px;
    height: 1200px;

    .container {
        max-width: 1170px;
        margin: 0 auto;

        .name-company {
            width: 500px;
            height: 370px;
            margin-left: 28%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            form {
                width: 250px;
                margin-left: 24%;
                h1{
                    margin-top: 20px;
                    font-size: 22px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    margin-left: 19%;
                }
                .MuiFormControl-root {
                    margin-top: 60px;
                }

                button {
                    width: 150px;
                    width: 120px;
                    margin-left: 26%;
                    height: 40px;
                    border: 1px solid green;
                    border-radius: 15px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    background: #2e3131;
                    color: white;
                }
            }
        }
        .table{
            margin-top: 50px;
            margin-left: 28%;
            width: 500px;
        }
    }
}