// .createaccount{
//     width: 100%;
//     margin-top: 150px;
//     .container{
//         max-width: 1170px;
//         margin: 0 auto;
//         .register{
//             width: 400px;
//             height: 550px;
//             margin-left: 30%;
//             box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//             form{
//                 h1{
//                     font-size: 20px;
//                     color: black;
//                 }
//                 margin-top: 10px;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 margin-bottom: 35px;
//             }
//             button{
//                 width: 120px;
//                 margin-left: 33%;
//                 height: 40px;
//                 border: 1px solid green;
//                 border-radius: 15px;
//                 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
//             }
//             button:hover{
//                 color: blue;
//             }
//         }
      
//     }
// }