.form{
    width: 100%;
    height: 1600px;
    .container{
        max-width: 1170px;
        margin: 0 auto;     
        .all{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            height: 500px;
            margin-top: 50px;
            margin-bottom: 50px;
            h1{
                margin-bottom: 30px;
                font-size: 25px;
                text-align: center;
                color: grey;
            }
            form{


            // !Ad-soyad
            .person-information{
                display: flex;
                justify-content: space-around;
            }
            // !Qrup telim
            .group{
                margin-left: 27px;
                margin-top: 25px;
                display: flex;
                justify-content: space-around;
                .telim{
                    display: flex;
                }
                .selectlabel{
                    margin-left: 22px;
                }
                .amount{
                    margin-right: 28px;
                       }
            }
            // !Ay
            .month{
                display: flex;
                justify-content: space-around;
                margin-top: 45px;
                // !Tarix
                .tarix{
                    margin-right: 30px;
                    input{
                        // width: 180px;
                        // height: 29px;
                        // border-radius: 8px;
                        // text-align: center;
                        // background: blue;
                        // color: white;
                        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    }
                    .date{
                        width: 400px;
                    }
                }
                    .images{
                        input{
                        width: 120px;
                        height: 29px;
                        border-radius: 8px;
                        text-align: center;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
                        }
                    }
            }}
         .submit{
            margin-top: 65px;
            margin-left: 45%;
            width: 120px;
            height: 40px;
            border: 1px solid green;
            border-radius: 15px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
         }
        }
    
        .table{
            margin-top: 350px;
        }
    }
}